In [1]:
# libs initialization
import pandas as pd
from datetime import datetime

In [2]:
# Dataset initialization
path_to_file = '../Datasets/Challenger_Ranked_Games.csv'
df1 = pd.read_csv(path_to_file, engine='python')
df1.head(3)

,Unnamed: 0,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,0,4247263043,22.050000,0,1,0,0,0,0,0,...,68,73.016,49.832,533,64,12.8,138,8,38.711,60.463
1,1,4247155821,21.950000,1,0,0,0,1,0,2,...,8,44.218,37.136,571,59,11.8,134,3,24.829,14.105
2,2,4243963257,15.533333,0,0,0,0,0,0,0,...,20,30.797,35.364,400,50,10.0,89,5,12.589,45.201

In [3]:
# The original dataset is to big to download on GIT, 3,5Gb, 
# the link is here: https://www.kaggle.com/gyejr95/league-of-legendslol-ranked-games-2020-ver1
# You can download and test the code by your own if there are any DS updated

path_to_file = '/Users/zer0deck/Documents/Документы/Магистратура/archive/match_data_version1.csv'
df2 = pd.read_csv(path_to_file, engine='python')
df2['gameId'].astype(int)
df2.head(3)

,Unnamed: 0,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,status.message,status.status_code
0,0,1.585155e+12,1323.0,4.247263e+09,CLASSIC,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
1,1,1.585152e+12,1317.0,4.247156e+09,CLASSIC,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
2,2,1.585059e+12,932.0,4.243963e+09,CLASSIC,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN

In [4]:
df = df1.merge(df2, on = ['gameId'])
df.head(7)

,Unnamed: 0_x,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,...,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,status.message,status.status_code
0,0,4247263043,22.050000,0,1,0,0,0,0,0,...,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
1,1,4247155821,21.950000,1,0,0,0,1,0,2,...,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
2,2,4243963257,15.533333,0,0,0,0,0,0,0,...,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
3,3,4241678498,34.966667,0,0,0,1,1,0,1,...,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
4,4,4241538868,39.066667,1,1,1,1,1,1,2,...,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
5,5,4241394461,26.116667,1,1,1,0,0,1,2,...,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
6,6,4233222221,28.100000,0,0,1,0,0,0,0,...,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN

In [6]:
# Here we delete unused columns and prepare timestamps for Lab4:
# Column gameCreation has 13 digit value, which is the 10 digit epoch time format + 3 digit miliseconds value
# This is written in official Riot API Documentation https://riot-api-libraries.readthedocs.io/en/latest/
stamp = []
for i in range(0, len(df['gameId'])):
       ts = int((df['gameCreation'][i])/1000)
       stamp.append(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))
df['timeStamp'] = stamp
df = df[['gameId', 'gameCreation', 'timeStamp', 'gameDuraton', 'blueWins', 'blueFirstBlood',
       'blueFirstTower', 'blueFirstBaron', 'blueFirstDragon',
       'blueFirstInhibitor', 'blueDragonKills', 'blueBaronKills',
       'blueTowerKills', 'blueInhibitorKills', 'blueWardPlaced',
       'blueWardkills', 'blueKills', 'blueDeath', 'blueAssist',
       'blueChampionDamageDealt', 'blueTotalGold', 'blueTotalMinionKills',
       'blueTotalLevel', 'blueAvgLevel', 'blueJungleMinionKills',
       'blueKillingSpree', 'blueTotalHeal', 'blueObjectDamageDealt', 'redWins',
       'redFirstBlood', 'redFirstTower', 'redFirstBaron', 'redFirstDragon',
       'redFirstInhibitor', 'redDragonKills', 'redBaronKills', 'redTowerKills',
       'redInhibitorKills', 'redWardPlaced', 'redWardkills', 'redKills',
       'redDeath', 'redAssist', 'redChampionDamageDealt', 'redTotalGold',
       'redTotalMinionKills', 'redTotalLevel', 'redAvgLevel',
       'redJungleMinionKills', 'redKillingSpree', 'redTotalHeal',
       'redObjectDamageDealt']]
df.to_csv('timeStamped_Challenger_Ranked_Games.csv')